*
{
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
}

#formDatos
{
    display: flex;
    justify-content: center;
    align-content: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
}

form
{
    display: flex;
    justify-content: center;
}

.seccion-tabla
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(252, 180, 195);
    font-size : 25;
    font-family:"cursive";
}

table
{
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
}

th,td
{
    border: 1px solid black;
    padding: 5px 10px;
    text-align: center; 
}

/* Mostrar la celda */
.table-cell 
{
    display: table-cell;  
}
  
  /* Ocultar la celda */
.none 
{
    display: none;
}

#formAbm
{
    display: flex;
    justify-content: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: chocolate;
}

#agregar
{
    display: flex;
    justify-content: flex-start;
    width: fit-content;
}

#cancelar
{
    display: flex;
    justify-content: flex-end;
    width: fit-content;
}

h1
{
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: sans-serif;
    color: rgb(233, 235, 237);
    font-style: italic;
    display: flex;
    justify-content: center;
    background-color: black;
}

td
{
    background-color: rgb(24, 215, 253);
    
}

td:hover
{
    transition: background-color .5s;   
    background-color: rgb(193, 98, 151);
}

th:hover
{
    transition: background-color .5s;   
    background-color: rgb(101, 100, 124);
}

#botonesDatos
{
    display: flex;
    justify-content: center;
    width: fit-content;
} 

/* //.spinner */
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .spinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro transparente */
    display: none; /* Por defecto oculto */
    z-index: 9999; /* Asegura que esté encima de otros elementos */
  }
  
  .spinner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  }
  
  /* Estilos del spinner. Puedes reemplazar con el estilo de spinner que desees */
  .lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }